/* Orange-Color : #e67e22 */

/* ----------- BASIC SETUP----------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #ffffff;
  color: #555;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
*:focus {
  outline: none;
}
/* ----------- REUSABLE CONTENTS----------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}
section {
  padding: 80px 0;
}
.box {
  padding: 1%;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
/* ----------- HEADINGS----------- */

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  text-align: center;
  font-size: 180%;
  word-spacing: 2px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

h2:after {
  display: block;
  height: 2px;
  width: 100px;
  background-color: #e67e22;
  margin: 30px auto 0 auto;
  content: " ";
}

/* ----------- PARAGRAPHS----------- */
.long-copy {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  line-height: 145%;
}
.box p {
  line-height: 145%;
  font-size: 90%;
}

/* ----------- ICONS----------- */
.icon-big {
  font-size: 350%;
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
}
.icon-small {
  display: inline-block;
  width: 30px;
  color: #e67e22;
  text-align: center;
  font-size: 120%;
  margin-right: 10px;

  /* align icons with text */
  vertical-align: middle;
  line-height: 120%;
  margin-top: -4px;
}
/* ----------- BUTTONS----------- */

.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 20px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  background-color: #e67e22;
  color: white;
  margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}
.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #cf6d17;
}
.btn-full:hover,
.btn-full:active {
  background-color: #cf6d17;
}
.btn-ghost:hover,
.btn-ghost:active {
  background-color: #cf6d17;
  color: white;
}

/* ----------- Header----------- */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(imgs/hero.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}
.logo-black {
  display: none;
  height: 50px;
  width: auto;
  float: left;
  margin: 5px 0;
}
.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}
.main-nav li {
  display: inline-block;
  margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
  padding-bottom: 8px;
  text-decoration: none;
  color: white;
  font-size: 90%;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}
/* -- Mobile navi */
.mobile-nav-icon {
  cursor: pointer;
  margin-top: 30px;
  float: right;
  display: none;
}
.mobile-nav-icon i {
  font-size: 200%;
  color: white;
}

/*  Sticky Menu */

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef;
  z-index: 9999;
}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  padding-bottom: 15px;
  color: #555555;
}

.sticky .logo-black {
  display: block;
}
.sticky .logo {
  display: none;
}
.sticky .main-nav {
  margin-top: 18px;
}

/* ---------FEATURES--------- */
.section-features .long-copy {
  margin-bottom: 30px;
}

/* ---------Meals------------ */
.section-meals {
  padding: 0;
}
.meals-showcase {
  list-style: none;
  width: 100%;
}
.meals-showcase li {
  display: block;
  width: 25%;
  float: left;
}
.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000000;
}
.meal-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.3);
  transition: opacity 0.5s, transform 0.5s;
}
.meal-photo img:hover {
  transform: scale(1.15);
  opacity: 1;
}

/* ---------How It Works------------ */

.section-steps {
  background-color: #f4f4f4;
}

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}
.steps-box:last-child {
  padding-left: 3%;
  margin-top: 70px;
}
.app-screen {
  width: 40%;
}
.works-step {
  margin-bottom: 30px;
}
.works-step:last-of-type {
  margin-bottom: 80px;
}
.works-step div {
  color: #e67e22;
  border: 2px solid #e67e22;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  text-align: center;
  /* display: inline-block; */
  float: left;
  padding: 5px;
  font-size: 150%;
  margin-right: 30px;
}
.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 20px;
}

/* ---------Cities------------ */
.box img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.city-twitter-link:link,
.city-twitter-link:visited {
  color: #e67e22;
  border-bottom: 1px solid #e67e22;
  padding-bottom: 1px;
  text-decoration: none;
  transition: color 0.5s, border-bottom 0.5s;
}
.city-twitter-link:hover,
.city-twitter-link:active {
  color: #555555;
  border-bottom: none;
}

/*-- ---------Testimonials----------- */
.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(imgs/back-customers.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  background-attachment: fixed;
}
blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  font-weight: 300;
}
blockquote i {
  padding-bottom: 10px;
}
cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}
cite img {
  width: 45px;
  border-radius: 50%;
  vertical-align: middle;
}

/* ------------------PLANS--------------- */
.section-plans {
  background-color: #f4f4f4;
}
.plan-box {
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  box-shadow: 0 2px 7px 7px #efefef;
}
.plan-box div {
  padding: 15px;
  border-bottom: 1px solid #e8e8e8;
}
.plan-box div:first-child {
  background-color: #fcfcfc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.plan-box div:last-child {
  text-align: center;
}
.plan-price {
  font-size: 300%;
  margin-bottom: 10px;
  font-weight: 100;
  color: #e67e22;
}
.plan-price span {
  font-size: 30%;
  font-weight: 300;
}
.plan-price-meal {
  font-size: 80%;
}
.plan-box ul {
  list-style-type: none;
}
.plan-box ul li {
  padding: 5px 0;
}

/* ------------------- FORM ------------------ */
.contact-form {
  width: 60%;
  margin: 0 auto;
}
input[type="text"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
textarea {
  height: 100px;
}
input[type="checkbox"] {
  margin: 10px 5px 10px 0;
}
input[type="submit"] {
  border: none;
  cursor: pointer;
}

/* ------------------- FOOTER ------------------ */
footer {
  background: #000;
  padding: 50px 0;
  font-size: 80%;
}
.footer-nav {
  list-style-type: none;
  float: left;
}
.social-links {
  list-style-type: none;
  float: right;
}
.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}
.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  color: #888888;
  text-decoration: none;
  border: 0;
  transition: color 0.3s;
}
.footer-nav li a:active,
.footer-nav li a:hover {
  color: #dddddd;
}
footer p {
  color: #888888;
  text-align: center;
  margin-top: 30px;
}
.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
  transition: color 0.3s;
}
.ion-social-facebook:hover {
  color: #3b5998;
}
.ion-social-twitter:hover {
  color: #00aced;
}
.ion-social-googleplus:hover {
  color: #dd4b39;
}
.ion-social-instagram:hover {
  color: #517fa4;
}

/*  --------------- Animations ------------- */
.js--wp-1,
.js--wp-2,
.js--wp-3 {
  opacity: 0;
}
.js--wp-1.animate__animated,
.js--wp-1.animate__animated,
.js--wp-1.animate__animated {
  opacity: 1;
}
